@model IEnumerable<GoldMortgageApp.Models.Deposite>

<br />
<br />
<h2>Deposite List</h2>
<table class="table">
    <tr>
       
        <th>
            @Html.DisplayNameFor(model => model.DepositeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransectionId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
       
        <td>
            @Html.DisplayFor(modelItem => item.DepositeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransectionId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        
    </tr>
}

</table>
