@model GoldMortgageApp.Models.PayOut

@{
    ViewBag.Title = "Create";
}
<h3>Release Mortgage Item</h3>
<table>
<tr><th>Customer Name: </th><td> @ViewBag.Name</td></tr>
<tr><th>Mortgage Item No:</th><td> @ViewBag.MortgageItem</td></tr>
<tr><th>Item Quantity:</th><td> @ViewBag.MortgageDescription</td></tr>

</table>





@using (Html.BeginForm())
{
 @Html.AntiForgeryToken()
   
  
	 <input type="hidden" id="Id" name="Id" value=@ViewBag.MortgageItem>
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
       
	    <div class="form-group">
            @Html.LabelFor(model => model.PreviousLone, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PreviousLone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PreviousLone, "", new { @class = "text-danger" })
            </div>
        </div>
		
		
		<div class="form-group">
            @Html.LabelFor(model => model.Payout, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Payout, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Payout, "", new { @class = "text-danger" })
            </div>
        </div>
		
		<div class="form-group">
            @Html.LabelFor(model => model.Discount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Discount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Discount, "", new { @class = "text-danger" })
            </div>
        </div>
		
		
		<div class="form-group">
            @Html.LabelFor(model => model.Due, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Due, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Due, "", new { @class = "text-danger" })
            </div>
        </div>
		
		<div class="form-group">
            @Html.LabelFor(model => model.InterestRate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.InterestRate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.InterestRate, "", new { @class = "text-danger" })
            </div>
        </div>
		<div class="form-group">
            @Html.LabelFor(model => model.InterestRatePerMonth, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.InterestRatePerMonth, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.InterestRatePerMonth, "", new { @class = "text-danger" })
            </div>
        </div>
		
		<div class="form-group">
            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
        </div>
		
		
		<div class="form-group">
            @Html.LabelFor(model => model.MaturityOfThisLoan, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
				<input type="date" name="MaturityOfThisLoan" id="MaturityOfThisLoan" class="form-control" />
                @Html.ValidationMessageFor(model => model.MaturityOfThisLoan, "", new { @class = "text-danger" })
            </div>
        </div>
		
		<div class="form-group">
            @Html.LabelFor(model => model.MortgageItemD, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MortgageItemD, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MortgageItemD, "", new { @class = "text-danger" })
            </div>
        </div>
		
		<div class="form-group">
            @Html.LabelFor(model => model.ItemQuantity, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ItemQuantity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ItemQuantity, "", new { @class = "text-danger" })
            </div>
        </div>
		


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="PayOut" class="btn btn-default" />
				@ViewBag.Message
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
	 <script>
	   
    
             $(document).ready(function () {
			 $("#Payout,#Discount").change(function () {
               var PL = document.getElementById('PreviousLone').value;
               var DC = document.getElementById('Discount').value;
               var PO = document.getElementById('Payout').value;
				 
				document.getElementById('Due').value = PL-PO-DC;

            });
					 
			
		 
		 
		 $("#Price,#InterestRate,#Due").change(function () {
                var D = $("#InterestRatePerMonth").val();
                var P = $("#Price").val();
                var DU = $("#Due").val();
		
				
			



				
                var json = { InterestRatePerMonth:D,Price:P,Amount:DU };
                $.ajax({
                    type: "POST",

                    url: '/Customers/GetMaturityDate',

                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(json),
                    success: function (data) {
                   $('#MaturityOfThisLoan').val(data);
					  
                    }
                });
				
				
            });
			
			
			 $("#InterestRate,#Due").change(function () {
               var resources = document.getElementById('InterestRate').value;
               var loan = document.getElementById('Due').value;
				 
				document.getElementById('InterestRatePerMonth').value = (parseFloat(loan)*parseFloat(resources))/(parseFloat("100.00"));

            });
			
			
			});
		</script>
    


	
}

